
<body>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<% if @users.include?session[:user_id] %>
		<h1 id="title">Title: <%=@conversation.title%></h1>
		<%=flash[:message]if flash[:message]%>
		<a href="/"> Other Conversations </a>
	<% else %>
		<h1> you are not allowed to be here bud </h1>
		<%         flash[:message] = "You are not allowed there."
                   redirect '/' 
                   %>
	<% end %>

	<div id="msgs">
		<%i = 0
		 for m in @messages%>
			<%=m.content%>
			<%if i != @messages.length - 1 %>
				<br />
			<%end%>
		<% i+=1 %>
		<%end%>
	</div>
	<br><br><br><br>
	<form id="form">
		<input type="text" id="input" value="send a message"></input>
		<input type="submit" id="inputButton" value="send">
	</form>
</body>
<script type="text/javascript">
window.onload = function(){
  (function(){
    var show = function(el){
      return function(msg){ el.innerHTML =el.innerHTML + '<br />' +  msg }
    }(document.getElementById('msgs'));

    var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
    // ws.onopen    = function()  { show('websocket opened'); };
    // ws.onclose   = function()  { show('websocket closed'); }
    ws.onmessage = function(m) { show(m.data); };

    var sender = function(f){
      var input     = document.getElementById('input');
      input.onclick = function(){ input.value = "" };
      f.onsubmit    = function(){
        ws.send(input.value + "," + <%=session[:user_id]%>);
        input.value = "";
        window.scroll(0, document.documentElement.offsetHeight);
        return false;
      }
    }(document.getElementById('form'));
  })();
}
</script>
