
<body>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<a href="/" style="color:black;"><div class="back" >back</div></a>
	<% if @users.include?session[:user_id] %>
		<h1 id="title">Title: <%=@conversation.title%></h1>
		<%=flash[:message]if flash[:message]%>
	<% else %>
		<h1> you are not allowed to be here bud </h1>
		<%         flash[:message] = "You are not allowed there."
                   redirect '/' 
                   %>
	<% end %>

	<ul id="msgs" style="list-style-type:none">
		<%i = 0
		for m in @messages%>
		 	<% time1 = Time.new
		 	if (time1.utc) < (m.created+60)%>
				<li><%=m.content%></li>
				<%if i != @messages.length - 1 %>
				<%end%>
			<%end%>
		<% i+=1 %>
		<%end%>
	</ul>
	<br><br><br><br>
	<form id="form">
		<input type="text" id="input" value="send a message"></input>
		<input type="submit" id="inputButton" value="send">
	</form>
</body>
<script type="text/javascript">
window.onload = function(){
  (function(){
    var show = function(el){
      return function(msg){ el.innerHTML =el.innerHTML + '<li>' +  msg  + '</li>'}
    }(document.getElementById('msgs'));

    var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
    // ws.onopen    = function()  { show('websocket opened'); };
    // ws.onclose   = function()  { show('websocket closed'); }
    ws.onmessage = function(m) { 
    	show(m.data); 
        window.scroll(0, document.documentElement.offsetHeight);

    };

    var sender = function(f){
      var input     = document.getElementById('input');
      input.onclick = function(){ input.value = "" };
      f.onsubmit    = function(){
        ws.send(input.value + "," + <%=session[:user_id]%>);
        input.value = "";
        return false;
      }
    }(document.getElementById('form'));
  })();
  setTimeout(function(){
  	i = 0;
  	console.log("HELLO");
  	setInterval(function(){
  		$( "ul li:nth-child("+i+")" ).fadeOut(300);
  		i++;
  		console.log("removed " + (i-1));
  	}, 4500);
  }, 6000);
}
</script>
