
  <body>
      <%=flash[:message]if flash[:message]%>
     <h1 class="mainTitle">Quick Chat!</h1>
     <div class="spacer"></div>
     <div class="rest">
       <h3 class="listTitle">Conversations: </h3>
       <div class="conversationsList">
         <% for c in @conversations %>
            <% if c != nil %>
              <a class="listLink" href="/conversation/<%=c.conversation_id%>">
                <%=Conversation.find(c.conversation_id).title%> <a href="/delete/<%=c.conversation_id%>">Delete</a>
                <br>
              </a>
            <%end%>
         <%end %>
        </div>
       <a class="newConvo" href="/new-convo"> New Conversation</a>
     </div>
  </body>

  <!--<script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

        var sender = function(f){
          var input     = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit    = function(){
            ws.send(input.value);
            input.value = "";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>-->