
  <body style="background-color:#e74c3c;">
    <div>
         <h1 class="mainTitle">Quick Chat!</h1>

      <div class="loginFormThing" style="position:absolute;">
         <h1 class="titleLoginForm">Login</h1>
         <%=flash[:message]if flash[:message]%>
         <form id="form" method="POST" action="/login-validation" class="loginForm">
           <input type="text" name="username" placeholder="Username">
           <input type="password" name="password" placeholder="Password"><br><br>
           <input type="submit" class="submitBut">
         </form>
         <a href="/register">Make an account! </a>
      </div>
    </div>
  </body>
  