  <body style="background-color:#e74c3c;">
    <div>
         <h1 style="font-size:100pt;text-align:center; margin-top:50px;">Quick Chat!</h1>

      <center><div style="background-color:#F0938A;text-align:center;  width: 50%; border-radius:20px;">
      <br>
         <h1 style="text-align:center;">Login then join your conversation!</h1>
         <%=flash[:message]if flash[:message]%>
         
         <form id="form" method="POST" style="" action="/login-validation-join">
           <input style="width:50%; height:50px; font-size:12.5pt; text-align:center" type="text" name="username" placeholder="Username"><br>
           <input style="width:50%; height:50px; font-size:12.5pt; text-align:center" type="password" name="password" placeholder="Password"><br><br>
           <input type="submit" class="submitBut" style="height:50px;">
         </form>
         
         <center><a href="/register-join">Make an account! </a></center>
         <br><br>
      </div></center>
    </div>
  </body>
  