
  <body style="background-color:#e74c3c;">
    <div>
         <h1 class="mainTitle">Quick Chat!</h1>

      <div class="formContainer"></div>
      <div class="formThing">
         <h1 class="titleForm">Login</h1>
         <%=flash[:message]if flash[:message]%>
         <form id="form" method="POST" action="/login-validation">
           <input type="text" name="username" placeholder="Username">
           <input type="password" name="password" placeholder="Password"><br><br>
           <input type="submit" class="submitBut">
         </form>
         <a href="/register"> Register </a> <br><br>
      </div>
    </div>
  </body>