
  <body>
     <h1>Login</h1>
     <%=flash[:message]if flash[:message]%>
     <form id="form" method="POST" action="/login-validation">
       <input type="text" name="username" placeholder="Username"></input>
       <input type="password" name="password" placeholder="Password"></input>
       <input type="submit">
     </form>
     <a href="/register"> Register </a>
     <a href="/new-convo"> New Conversation </a>
  </body>