
<body style="background-color:#e74c3c;">
  <div>
       <h1 style="font-size:100pt;text-align:center; margin-top:50px;">Quick Chat!</h1>

    <center><div style="background-color:#F0938A;text-align:center;  width: 50%; border-radius:20px;">
       
       <br><h1 style="text-align:center;">Register</h1>
       <%=flash[:message]if flash[:message]%>
       <form id="form" method="POST" action="/register-validation">
          <input class="inputRegister" required type="text" name="fname" placeholder="First Name">
          <input class="inputRegister" required type="text" name="lname" placeholder="Last Name">
          <br>
          <input class="inputRegister" required type="text" maxlength="13" name="username" placeholder="Username">
          <input class="inputRegister" required type="email" name="email" placeholder="email">
          <br>
          <input class="inputRegister" required type="password" name="password" placeholder="Password">
          <input class="inputRegister" required type="password" name="cpassword" placeholder="Confirm Password">
          <br><br>
         <input type="submit" class="submitBut" style="height:50px;"><br><br><br>
       </form>
      
    </div></center>
  </div>
</body>