
<body style="background-color:#3498db;">
    <%=flash[:message]if flash[:message]%>
   <h1 class="mainTitleSmall"><b>Quick Chat!</b></h1>
   <div class="spacer"></div>
   <div class="restSmall">
   <div class="descriptionWrapper">
        <h3 class="listTitle">Welcome!</h3>
        <p class="description"> Quickchat is an application designed to make chatting fast and easy.  <br> Messages will automatically remove themselves from the database after any amount of time that you'd like!  To get started hit new conversation! To see a list of your conversations anytime click home!</p>
   </div>
   </div>
</body>