#input {
	position: fixed;
	bottom: 0;
	left:0;
	height: 50px;
	width: 95%;
}
.message{
	font-size: 15pt;
	width: 100%;
}
.message:nth-child(odd){
	background-color:#bdc3c7;
}
#inputButton{
	position: fixed;
	width: 5%;
	right: 0;
	bottom: 0;
	height: 50px;
	border-radius: 5px;
	background-color: #3498db;
	border-color: #3498db;
}

#msgs{
	line-height: 15pt;
}

#title{
	text-align: center;
	font-size: 40pt;	
	margin-bottom: 0px;
}
body{
	max-width: 100%;
}

.conversationsList{
	text-align: center;
	font-size: 15pt;

}
.mainTitle{
	font-size: 99pt;
	text-align: center;
	background-color: #e74c3c;
	position: absolute;
	width: 100%;
	padding-top: 5%;
	top: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-top: 0px;
	right: 0%;
	left:0%;
	height: 100px;
	font-style: bold;
}
.spacer{
height: 400px;
}
.rest{
	position: absolute;
	width: 100%;
	top: 400px;
	left:0;
}
.listTitle{
	text-align: center;
	font-size: 40pt;
	line-height: 10px;
	margin-bottom: 3%;
}
.listLink{
text-decoration: none;
color: black;
font-size: 30pt;
}
.listLink:hover{
text-decoration: underline;
}
.logoutButton{
position: fixed;
z-index: 2;
background-color: #2ecc71;
padding: 2%;
top: 0;
width: 10%;
right:0;
border-radius: 18px;
text-align: center;
text-decoration: none;
}
.newConvo{
position: fixed;
z-index: 2;
background-color: #2ecc71;
padding: 2%;
top: 10%;
width: 10%;
right:0;
font-size: 96%;
border-radius: 18px;
text-align: center;
text-decoration: none;
color: black;
}
.newConvo:hover{
position: fixed;
z-index: 2;
background-color: #27ae60;
padding: 2%;
top: 10%;
width: 10%;
right:0;
font-size: 96%;
border-radius: 18px;
text-align: center;
text-decoration: none;
color: black;
}
.logoutButton:hover{
position: fixed;
z-index: 2;
background-color: #27ae60;
padding: 2%;
top: 0;
width: 10%;
right:0;
border-radius: 18px;
text-align: center;
text-decoration: none;
}
.formContainer{
position: absolute;
top: 28%;
left:36%;
background-color: white;
width: 27%;
height: 30%;
border-radius: 10px;
opacity: 0.4;
}
.formThing{
	position: absolute;
	top: 28%;
	left:39%;
	text-align: center;
}
.titleForm{
	position: absolute;
	top: 85;
	left:47;
}
/*.submitBut{
border-radius: 10px;
font-size: 15pt;
text-align: center;
} */
.back{
position: fixed;
z-index: 2;
background-color: #2ecc71;
padding: 2%;
top: 0%;
width: 10%;
right:0;
border-radius: 18px;
text-align: center;
text-decoration: none;
}
.back:hover{
	position: fixed;
	z-index: 2;
	background-color: #27ae60;
	padding: 2%;
	top: 0%;
	width: 10%;
	right:0;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
}

.registerButton{
	position: fixed;
	z-index: 2;
	background-color: #2ecc71;
	padding: 2%;
	top: 0;
	width: 10%;
	right:0;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
}
.registerButton:hover{
	position: fixed;
	z-index: 2;
	background-color: #27ae60;
	padding: 2%;
	top: 0;
	width: 10%;
	right:0;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
}
.newContainer{
	position: absolute;
	top: 40%;
	left:38%;
	background-color: white;
	width: 27%;
	height: 40%;
	border-radius: 10px;
	opacity: 0.4;	
}
.convoForm{
	left:90;
	top:190;
}
.submitBut {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:0%;
	line-height:250%;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.submitBut:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.submitBut:active {
	position:relative;
	top:1px;
}
.addFriends{
	position: fixed;
	z-index: 2;
	background-color: #2ecc71;
	padding: 2%;
	top: 10%;
	width: 10%;
	right:0;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
}
.addFriends:hover{
	position: fixed;
	z-index: 2;
	background-color: #27ae60;
	padding: 2%;
	top: 10%;
	width: 10%;
	right:0;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
}
.addFriendsPopup{
	width: 25%;
	height:25%;
	background-color: #9b59b6;
	z-index: 3;
	position: fixed;
	left:37.5%;
	top: 37.5%;
}
.closeBox{
	
}
.closeBox:hover{
	text-decoration: underline;
}

#navBar{
	z-index: 2;
	position: absolute;
	width: 100%;
	top:0;
	background-color: #bdc3c7;
	height: 45px;
	font-size: 25pt;
	left:0;
	text-align: center;
}
.navBarElement{
	width: 28%;
	border-right: 1px solid black;
	float: left;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.navBarElementLast{
	width: 15%;
	float: left;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.navBarElement:hover{
	color:#1abc9c;
}
.navBarElementLast:hover{
	color:#1abc9c;	
}
.navBarSpacer{
	height: 50px;
	width: 100%;
}
a:visited{
	color: black;
}
a{
	color: black;
}
.loginFormThing{
	position: absolute;
	left:39%;
	top:50%;
	text-align: center;
}
.loginformContainer{
	position: absolute;
	top: 50%;
	left:36%;
	background-color: white;
	width: 338px;
	height: 30%;
	border-radius: 10px;
	opacity: 0.4;
}
.registerformContainer{
	position: absolute;
	top: 50%;
	left:36%;
	background-color: white;
	width: 333px;
	height: 30%;
	border-radius: 10px;
	opacity: 0.4;
}
.registerformThing{
	position: absolute;
	top: 56%;
	left:39%;
	text-align: center;
}
.mainTitleSmall{
	font-size: 50pt;
	text-align: center;
	background-color: #e74c3c;
	position: absolute;
	width: 100%;
	padding-top: 5%;
	top: 0px;
	padding-top: 90px;
	margin-top: 0px;
	right: 0%;
	left:0%;
	height: 150px;
	font-style: bold;
}
.restSmall{
	position: absolute;
	width: 100%;
	top: 250px;
	left:0;
}
.listTitleSmall{
	text-align: center;
	font-size: 40pt;
	line-height: 10px;
	margin-bottom: 0%;	
}
.newConversationContainer{
	position: absolute;
	top: 40%;
	left:38%;
	background-color: white;
	width: 340px;
	height: 40%;
	border-radius: 10px;
	opacity: 0.4;
}
.sendAMessage{
	background-color:; 
	border:0;
}
.sendAMessage:focus{
	background: gray;
	/*background-color:#e74c3c; 
	border:0;*/
}